---
---

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}";
@import "minima/initialize";


table {
  border-collapse: collapse;
  border: 0px solid $table-border-color;
  tr {
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    border: 0px solid $table-header-border;
  }
  td {
    border: 0px solid $table-border-color;
  }
}
